* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    width: 100vw;
    box-shadow: 0 3px 6px #00000029;
}

a{
    text-decoration: none;
    color: inherit;
    padding: 45px 0;
}
.container{
    width: 1352px;
    margin: 0 auto;
}
.navbar--top{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar--top .list div{
    display: inline-flex;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 3px;
    color: #A5A5A5;
    text-align: center;
    margin-right: 95px;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
    padding: 0 6px;
    font-weight: bold;

}
.navbar--top .list div:hover{
    color: black;
    border-bottom: 4px solid #08A6E4;
    cursor: pointer;
}
.logo{
    color: #08A6E4;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    text-align: left;
}
.shop--opening{
    text-align: center;
    margin-top: 130px;
}
.shop--opening h1{
    font-family: Raleway, sans-serif;
    font-size: 49px;
    margin-bottom: 20px;
    font-weight: 300
}
.shop--opening p{
    margin-bottom: 38px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-align: center;
}
.shop--opening a{
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 22px 157px;
    background: #08A6E4;
    border-radius: 40px;
    font-weight: 600
}

section img{
    position: relative;
    width: 100%;
}
.main--background{
    margin-bottom: 100px;
}
.numbers-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 120px;
}
.numbers-part h2{
    width: 100%;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 100px;
}
.numbers{
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.numbers h3{
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
}
.numbers p{
    font-family: Raleway, sans-serif;
    color: #A5A5A5;
    font-size: 17px;
}
.red-circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #FB3B64;
    margin-bottom: 14px;
    align-self: center;
}
.red-circle:after{
    content: url(../images/Person.svg);
    position: relative;
    left: 50%;
    bottom: -5px;
}
.blue-circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #08A6E4;
    margin-bottom: 14px;
}
.blue-circle:after{
    content: url(../images/Eye.svg);
    position: relative;
    left: 35%;
    bottom: -25%;
}
.cyan-circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #55DFB4;
    margin-bottom: 14px;
}
.cyan-circle:after{
    content: url(../images/Catalog.svg);
    position: relative;
    left: 50%;
    bottom: -10px;
}
.content--background{
    width: 100%;
    background: #F7F7F7;
    padding: 105px 0;
}
.content--frame{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.content--frame>div{
    width: 100%;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 370px;
    background: white;
    margin-bottom: 37px;
}
.content--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content--text{
    width: 416px;
    text-align: center;
    margin-left: 35px;
    margin-right: 20px;
}
.content--text h3{
    font-family: Raleway, sans-serif;
    font-size: 36px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 30px;
    margin-right: 170px;
}
.content--text p {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    font-weight: 500;
}
.red--line:after{
    content: "";
    border: 1px solid #FB3B64;
    width: 330px;
    height: 1px;
    background: #FB3B64;
    position: absolute;
    left: 35px;
    bottom: 61px;
}

.content--image--red{
    width: 200px;
    height: 200px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64 0 0 no-repeat padding-box;
    border-radius: 41px;
    margin-top: 38px;
    position: absolute;
    right: 10%;
    bottom: 25%;
}
.macbook{
    height: 219px;
    width: 387px;
    align-self: flex-end;
    margin-bottom: 38px;
    margin-right: 160px;

}
.content--image--blue {
    width: 320px;
    height: 320px;
    background: #08A6E4 0 0 no-repeat padding-box;
    border-radius: 50%;
    margin-left: 70px;
    margin-bottom: 10px;
}
.content--image--blue>img{
    width: 426px;
    height: 328px;
    position: absolute;
    bottom: 10px;
    left: 85px;
}

.blue--line:after {
    content: "";
    border: 1px solid #08A6E4;
    width: 330px;
    height: 1px;
    background: #08A6E4;
    position: absolute;
    right: 103px;
    bottom: 61px;
}
.cyan--line:after {
    content: "";
    border: 1px solid #55DFB4;
    width: 330px;
    height: 1px;
    background: #55DFB4;
    position: absolute;
    left: 35px;
    bottom: 25px;
}

.content--frame>div:nth-of-type(3){
    width: 60%;

}
.trumpet{
    width: 440px;
    height: 370px;
    background: #55DFB4 center;
    position: absolute;
    bottom: 37px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.trumpet>img{
    position: absolute;
    width: 296px;
    height: 207px;

}