@import "colors";
@import "shadows";
@import "typography";
@import "sizings";
@import "breakpoints";


.container{
  width: 1352px;
  margin: 0 auto;
  @include tablet{
    width: 100%;
    padding: 0 20px;
  }
}

a{
  text-decoration: none;
  color: inherit;
  padding: 45px 0;
}
