@import "navbar";
@import "banner";
@import "numbers";
@import "content";
@import "pricing";
@import "contact";
@import "footer";

.shop--opening a:hover{
  background: $hover-violet;
  transform: scale(1.2);
}
.pricing a:hover{
  background: $hover-violet;
  transform: scale(1.2);
}
.contact-form .form--box .checkbox-label button:hover{
  background: $hover-violet;
  transform: scale(1.2);
}


