.numbers-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  margin-bottom: 120px;
  @include phone{
    flex-direction: column;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-family: $secondary-font-family;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 100px;
    @include phone{
      width:80%;
      margin: 0 auto;
    }
  }

  .numbers {
    width: 140px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include phone{
      margin: 30px auto;
    }
    }

    h3 {
      font-family: $secondary-font-family;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 6px;
      text-align: center;
    }

    p {
      font-family: $secondary-font-family;
      color: $light-gray;
      font-size: 17px;
    }

    .red-circle {
      width: $circles-size;
      height: $circles-size;
      border-radius: 50%;
      background: $main-red;
      margin-bottom: 14px;
      align-self: center;
      &:after {
        content: url(/images/Person.svg);
        position: relative;
        left: 50%;
        bottom: -5px;
      }
    }
    .blue-circle{
      width: $circles-size;
      height: $circles-size;
      border-radius: 50%;
      background: $main-blue;
      margin-bottom: 14px;
      &:after{
        content: url(/images/Eye.svg);
        position: relative;
        left: 35%;
        bottom: -25%;
      }
    }
    .cyan-circle{
      width: $circles-size;
      height: $circles-size;
      border-radius: 50%;
      background: $main-cyan;
      margin-bottom: 14px;
      &:after{
        content: url(/images/Catalog.svg);
        position: relative;
        left: 50%;
        bottom: -10px;
      }
    }
  }
